<a href="https://colab.research.google.com/github/NaouiMayma/Python/blob/main/Bienvenue_dans_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les Variables

In [11]:
#Nombre
a = 5 #la variable a une valeur 5
print(a)  #print pour afficher a

5

In [12]:
#Entier 1,2,3,4,5 .... => integer
a=1
print(a)
a=2
print(a)

1
2

In [13]:
#Nombre Decimal => float
a=1.2  #la virgule est un point
print(a)

1.2

In [14]:
type(a)  #type est une fonction pour voir le type d'une variable

float

In [15]:
type(1)

int

In [16]:
type(1,2) #la virgule des chiffres decimal est un point "attention"

TypeError: type() takes 1 or 3 arguments

In [18]:
#phrases / lettres  =>  str (string)
name = "Oumaima"  #la variable de name est egale à Oumaima
print(name)

Oumaima

In [19]:
type(name) #type str b est un type de lettres , phrases

str

In [20]:
first_name = 'Oumaima' #les strings en python sont definit entre '' ou ""
print(first_name)
first_name = "Oumaima"
print(first_name)

Oumaima
Oumaima

In [21]:
#liste
list_name_planet=['Mercure','Venus','Terre','Mars','Jupiter','Saturne','Uranus','Neptune'] #une variable ne se definit pas avec des espaces , uniquement avec _ ou des Lettres maj ou min
print(list_name_planet)
listName = ['Oumaima','Ibtihel']  #une liste se definit entre []
print(listName)
type(listName)

['Mercure', 'Venus', 'Terre', 'Mars', 'Jupiter', 'Saturne', 'Uranus', 'Neptune']
['Oumaima', 'Ibtihel']

list

In [ ]:
list_name_planet =[1,'anis']
print(list_name_planet)

In [22]:
#Dictionnaire
student = {} #un dictionnaire se definit entre  {}
print(student)
type(student)

{}

dict

In [23]:
student ={ #un dictionnaire est consitué de keys et de items (clés/valeurs)
 1 : 'Oumaima',
 2 : 'Ibtihel'
}
print(student)

{1: 'Oumaima', 2: 'Ibtihel'}

In [24]:
student[1] #on vient recupere dans la dictionnaire student , la valeur qui a la clé 1 / indexation

'Oumaima'

In [25]:
student_list = ['anis','mohamed','bilel']
print(student_list)
print(student_list[0]) #indexation commence a l'adresse 0 non 1

['anis', 'mohamed', 'bilel']
anis

In [26]:
students = {
    'a':{
        "name":"Oumaima",
        "age":24
    },
    'b':3,
    'c':["bilel" , "zeineb"]
    }
print(students)
print(students['a'])
print(students['a']['name'])
print(students['c'])
print(students['c'][0])

{'a': {'name': 'Oumaima', 'age': 24}, 'b': 3, 'c': ['bilel', 'zeineb']}
{'name': 'Oumaima', 'age': 24}
Oumaima
['bilel', 'zeineb']
bilel

In [27]:
#boolean
a = True
print(a)
print (1 == 2 )
print (1 <= 2 )
print('bilel '== 'Mohamed')
print ("b" <"a")
'oumaima ' in student_list
'anis' in student_list
bool(1)
bool(0)

True
False
True
False
False

False

# Les structures de controle

In [28]:
#Boucle FOR
#for VARIABLE in LIST : IMPORANT LE DEUX POINT A LA FIN
# INSTRUCTIONS IMPORTANT L'INDENTATION
for student in student_list:
    print(student)
print(student) #afficher le dernier de la liste

anis
mohamed
bilel
bilel

In [29]:
for i in range(0,10): #range est une fonction de python qui permet de creer des listes de 0 a 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
#Condition IF
#----------------------------------------------

#if CONDITION:   #SI il se passe CONDITION alors on run l'instruction
    #instruction

#----------------------------------------------


#if CONDITION:   #SI il se passe CONDITION alors on run l'instruction sinon run l'instruction 2
    #instruction
#else:
    #instruction

#----------------------------------------------
#if CONDITION:     #SI il se passe CONDITION alors on run l'instruction sinon si il se passe CONDITION 2 alors run l'instruction 2 sinon il run l'instruction 3
    #instruction
#elif:             #elif = else if
    #instruction
#else:
     #instruction

In [31]:
student_list

['anis', 'mohamed', 'bilel']

In [32]:
for student in student_list:
  print(student)

anis
mohamed
bilel

In [33]:
print(student_list[2])

bilel

In [34]:
for student in student_list:
  print(student[2]) # il affichier la 3eme letre de chaine de caractere

i
h
l

In [35]:
#je veux printer que bilel en utilisant une boucle est une condition
for student in student_list:
  if student == 'bilel':  #1er indentation du for
    print(student) #1er indentation if
  else :
    print("n'est pas bilel")

n'est pas bilel
n'est pas bilel
bilel

In [38]:
#sur les entiers de 0 a  19 , quannd inferieur à 10 on affiche 1,
#quand supérieur à 10 et inferieur à 15 on affiche 2,
#sinon on affiche 0
for i in range(0,20):
  if i < 10:
    print(f"{i}:1")   #f-string = chaîne formatée
  elif i < 15:
    print(f"{i}:2")
  else:
    print(f"{i} : 0")

0:1
1:1
2:1
3:1
4:1
5:1
6:1
7:1
8:1
9:1
10:2
11:2
12:2
13:2
14:2
15 : 0
16 : 0
17 : 0
18 : 0
19 : 0

In [40]:
#while boucle avec une condition de sortie
#while(CONDITION DE SORTIE):            #Tant que la condition de sortie n'est pas fausse en continue
     #INSTRUCTION
while(False):
  print("Bravo !")

In [43]:
while(True):
  print("Bravo !")
  break # SI LA CONDITION TRUE , FAIRE L INSTRUCTION ET SORT

Bravo !

In [44]:
#iteration
a=10
print(a)
a +=1    #+= est abbréviation de a = a+1
print(a)

10
11

In [45]:
#i est egale 0
#on cree une boucle
# i gagne +2 chaque iteration
#quand i est superieur à 11 on arréte
i=0
while(i<11):
  i+=2
  print(i)

2
4
6
8
10
12